$blackColor: #000;
$whiteColor: #fff;
$redColor: #d7794a;
$blueColor: rgb(0, 179, 240);
$blueColorOp: rgba(0, 179, 240, 0.3);
$greyColor: rgb(128, 128, 128);
$darkBlueColor: rgb(20, 22, 21);
$darkBlueColor_2: rgb(51, 44, 36);
