@media (max-width: 1024px){
    .our-team-leaders{
        font-size: 110%;
        border-bottom: 1px solid;
    }
    .about, .gallery{
      font-size: 110%;
    }
    .number li{
        font-size: 120%;
    }
    .heroes, .menu, .text,.lorem, .Sed, .copyright__text, .our__text{
        font-size: 80%;
    }
    .heroes-description, .fa div, .lorem{
        font-size: 80%;
        line-height: 150%;
    }
    .explanation li{
        font-size: 50%;
    }
    .title{
        font-size: 90%;
        line-height: 200%;
    }
    .menu__item{
        font-size: 70%;
    }
    .welcom, .contact{
		font-size: 250%;
	}
	.yourcompanyname, .contact-text, .form button[type="submit"]{
		font-size: 150%;
	}
  .section-5 .container{
    display: flex;
    flex-direction: column;
  }
  .art, .about-text{
    @include size(100%, auto);
  }
  .form{
      display: flex;
      flex-direction: column;
  }
}

@media (max-width: 768px){
  .container-point{
      @include size(auto, 700px);
    }
	input, .main__menu li {
	    display: none;
	}
	label {
	    cursor: pointer;
	}
  .contact{
    font-size: 110%;
  }
  .contact-text{
    font-size: 90%;
    width: 75%;
  }
  .welcom, .yourcompanyname{
      @include size(90%, auto);
  }
  .our-team-leaders{
      @include size(50%, auto);
  }
  .nav__showmenu {
	    position: relative;
	    z-index: 1;
	    display: block;
	    padding: 5%;
	    font-size: 250%;
	    color: $blackColor;
      opacity: 0.3;
	}
	.nav__back {
	    position: fixed;
	    transition: background-color .3s;
	}
	.menu {
      @include size(auto, 100%);
      @include flex (flex, column, flex-start, stretch, left);
      @include text(150%, Athelas,$whiteColor, normal, normal, 250%, uppercase);
	    padding: 5% 30%;
	    transform: translateX(-100%);
	    transition: transform .3s;
	}
	.img {
	    padding: 0% 15%;
	}
	.menu a{
      @include size(auto, 40px);
	}
	.img, .heroes, .heroes-description{
      @include flex (flex, column, flex-start, stretch, left);
      text-align: justify;
	}
	.heroes-description{
    @include size(100%, auto);
		 padding-bottom: 15%;
	}
	.nav__check:checked+.nav__showmenu {
	    color: $blackColor;
      opacity: 0.3;
	}
	.nav__check:checked~.menu {
	    transform: translateX(0);
	}
	.line__menu{
      @include flex (flex, column, flex-start, stretch, left);
	}
	.menu__item{
      @include size(95%, auto);
      @include flex (flex, column, flex-start, center, left);
      font-size: 100%;
      box-shadow: 0px -20px 0px 0px $darkBlueColor;
	}
	.menu__item .fa{
      @include size(200px, auto);
	    align-self: flex-end;
	}
	.title{
	    padding-bottom: 2%;
	    line-height: 150%;
	}
	.fa i{
	    padding: 0%;
	}
	.fa div{
	    margin-right: 25%;
	}
	.line__copyright{
      @include flex (flex, row, center, center, left);
	}
	.copyright__text{
	    font-size: 90%;
	    padding-bottom: 4%;
	}
	.copyright__social, .section-5, .section-4{
      @include size(100%, auto);
	}
  .img-circle{
    flex-direction: column;
  }
  .commands{
    padding-bottom: 6%;
  }
  .line-1 input, .line-2 input,.line-3 input{
    display: block;
  }
  input[type="text"], [type="tel"], [type="email"], textarea, select{
    @include size(90%, auto);
  }
  select{
    margin-top: 7%;
  }
  .line-1, .line-2, .line-3, .line-4{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form button[type="submit"]{
    font-size: 90%;
      @include size(115%, 100%);
  }
  .commands{
    padding-bottom: 6%;
  }
}
